<div class="jumbotron">
    <h1 class="text-center">Pedidos</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                        <!-- routerLink no lugar de href para que a aplicação apenas troque
                            o contexto ao invés de recarregar a página-->
                        <a [routerLink]="['novoPedido']" class="btn btn-primary">
                            Novo Pedido
                        </a>
                    </span>
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>

    <div class="row col-md-12">
        <table class="table table-striped">
                <tr>
                    <td>Identificador do Pedido</td>
                    <td>Nome do cliente</td>
                    <td>Quantidade de itens</td>
                    <td>Valor total</td>
                </tr>
                <tr *ngFor="let pedido of pedidos">
                        <td>{{pedido.ownId}}</td>
                        <td>{{pedido.customer.fullname}}</td>
                        <td>R$ {{defineValorTotal(pedido)}}</td>
                        <td>{{pedido.items.length}}</td>
                        <td>
                            <a [routerLink]="['novoPagamento']" class="btn btn-primary">
                                Ir para o pagamento
                            </a>
                        </td>
                </tr>
            </table>
    </div>
</div>